<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      
.element{
font-size: 30px;
font-weight: 700;
background: linear-gradient(to bottom,yellow,blue);
-webkit-background-clip: text;
background-clip: text;
color: transparent;
/* visibility: collapse;*/
}
.element ul{
    list-style-type: disc;
    /* list-style-position: inside; */
    color: black;
}
    </style>
</head>
<body>
    <div class="element">Here is the text
        <h1>hidden1</h1>
        <h2>hidden2</h2>
        <ul>
            <li>li1</li>
            <li>li4</li>
            <li>li2</li>
            <li>li3</li>
        </ul>
    </div>

</body>
</html>